<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "首頁", root_path %></li>
  <li role="presentation"><%= link_to "關於本計畫","#{}" %></li>
  <li role="presentation"><%= link_to "動機", pages_motivation_path %></li>
  <li role="presentation"><%= link_to "目的", pages_purpose_path %></li>
  <li role="presentation"><%= link_to "組織成員", "#{}" %></li>
  <li role="presentation"><%= link_to "團隊運作模式", pages_team_path %></li>
	<li role="presentation"><%= link_to "專業顧問團隊", pages_member_path %></li>
  <li role="presentation"><%= link_to "大事紀", pages_event_path %></li>
  <li role="presentation"><%= link_to "部落格", pages_blog_path %></li>
  <li role="presentation"><%= link_to "社會協助單位", "#{}" %></li>
  <li role="presentation"><%= link_to "讚聲", pages_sound_path %></li>
  <li role="presentation"><%= link_to "贊助", pages_sponsor_path %></li>
  <li role="presentation"><%= link_to "支持或加入我們", pages_join_path %></li>

 <% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
 <% end %>
</ul>